$primary: #000000;
$secondary: #3d00b7;
$secondary-light: #3d00b735;

$green: #00ac4f;
$accent: #49beff;
$warning: #ffae1f;
$error: #fa896b;
$success: #13deb9;
$white: #ffffff;

$text-primary: #636363;
$title-primary: #000000;
$title-secondary: #3d00b7;
